Repository broadinstitute/ddp-study-server, pull requests merged in 2020-05, with the labels that each got.

#179 Ddp 4548 open api to gae 2
  .circleci/config.yml
  pepper-apis/Dockerfile-build
  pepper-apis/docs/specification/build.sh
  pepper-apis/docs/specification/deploy/app.yaml
  pepper-apis/docs/specification/deploy/index.html
  pepper-apis/docs/specification/deploy/spec/pepper.json
  pepper-apis/docs/specification/deploy/spec/pepper.yaml
  pepper-apis/docs/specification/package.json
Labels: C-docs, C-enhancement

#198 Implementation of back-end verification of Google ReCaptcha
  pepper-apis/src/main/java/org/broadinstitute/ddp/client/GoogleRecaptchaVerifyClient.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/client/GoogleRecaptchaVerifyResponse.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/client/GoogleRecaptchaVerifyServer.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/client/GoogleRecaptchaClientTest.java
Labels: C-feature, java

#205 DDP-4433 init profile
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/UserRegistrationPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteTest.java
  study-builder/tenants/register-user-in-pepper.js
  study-builder/tenants/testboston/pages/login.html
Labels: C-feature, I-auth0, R-security

#193 DDP-4635 added IP rate limit filtering
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ErrorCodes.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/FilterConfig.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/RateLimitFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/jetty/JettyConfig.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/RateLimitTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/WhitelistFilterTest.java
Labels: C-enhancement, C-feature, C-infosec, I-auth-filter, I-nonauth-route, R-high, R-security, dependencies

#207 DDP-4670 allow empty first/last name for join-mailing-list
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/join.mailing.list.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/JoinMailingListPayload.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/JoinMailingListRouteTest.java
Labels: C-feature

#203 DDP-4655 kit zip codes
  pepper-apis/docs/specification/src/endpoints/studies.invitation-check.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ErrorCodes.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiCountry.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiKitRules.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/KitConfigurationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitConfigurationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitRuleDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/invitation/InvitationCheckStatusPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitCountryRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitPexRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitRuleType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitZipCodeRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4655-kit-zip-codes.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/kit/KitConfigurationTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/kit/KitZipCodeRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/study.conf
  study-builder/studies/testboston/study_emails.conf
  study-builder/studies/testboston/study_kits.conf
Labels: C-feature, C-study, I-nonauth-route, R-security

#200 New filter that allows only study admins
  pepper-apis/api-build.sh
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/UserDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/UserDaoFactory.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AuthDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/AuthPathRegexUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/OnlyStudyAdminFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/UserAuthCheckFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/CreateTemporaryUserRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/security/DDPAuth.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/security/UserPermissions.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/study-admin.xml
  pepper-apis/src/main/resources/sql.conf
  pepper-apis/src/test/java/org/broadinstitute/ddp/constants/TestConstants.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/DsmKitRequestDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/UserDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/AuthPathRegexUtilTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/UserAuthCheckFilterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/CreateTemporaryUserRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationLookupRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationUpdateDetailsRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/security/DDPAuthTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/security/JWTConverterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/src/test/resources/db-testscripts/baseline-seed-test-data.xml
Labels: C-feature, I-auth-filter, R-security

#173 Event-driven management of housekeeping
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/event/HousekeepingEventReceiver.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/CheckAgeUpJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DatabaseBackupCheckJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DatabaseBackupJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/Keys.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/OnDemandExportJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/StudyDataExportJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/TemporaryUserCleanupJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/schedule/DsmCancerLoaderJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/schedule/DsmDrugLoaderJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/GuidUtils.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/GuidUtilsTest.java
Labels: C-enhancement, C-poc, L-housekeeping, R-3rd-party

#211 DDP-4682 update dependencies
  pepper-apis/parent-pom.xml
Labels: C-infosec, R-3rd-party

#209 DDP-4673 add Create Study Participant API
  pepper-apis/docs/specification/src/endpoints/admin.studies.invitation-details.yml
  pepper-apis/docs/specification/src/endpoints/admin.studies.invitation-lookup.yml
  pepper-apis/docs/specification/src/endpoints/admin.studies.participants.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/AuthPathRegexUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/StudyAdminAuthFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/UserAuthCheckFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/admin/CreateStudyParticipantPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/admin/CreateStudyParticipantResponse.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/admin/LookupInvitationPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/admin/LookupInvitationResponse.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/admin/UpdateInvitationDetailsPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminCreateStudyParticipantRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminLookupInvitationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminUpdateInvitationDetailsRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/AuthPathRegexUtilTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AdminCreateStudyParticipantRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AdminLookupInvitationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AdminUpdateInvitationDetailsRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Labels: C-feature, I-auth-route

#214 Ddp 4592 add server-side recaptcha confirmation
  pepper-apis/src/main/java/org/broadinstitute/ddp/client/GoogleRecaptchaVerifyResponse.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/StudyDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/invitation/InvitationCheckStatusPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/add-recaptcha-site-secret.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/housekeeping/schedule/StudyDataExportJobTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestServer.java
  study-builder/config/testboston-vars.conf.ctmpl
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/testboston/study.conf
Labels: C-docs, C-study

#215 DDP-4600 covid survey and other configs
  study-builder/studies/testboston/address.conf
  study-builder/studies/testboston/assisted_consent.conf
  study-builder/studies/testboston/consent.conf
  study-builder/studies/testboston/covid-survey.conf
  study-builder/studies/testboston/covid_survey.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/prequal.conf
  study-builder/studies/testboston/prescreen_auth.conf
  study-builder/studies/testboston/prescreen_survey.conf
  study-builder/studies/testboston/snippets/consent-section1.conf
  study-builder/studies/testboston/snippets/consent-section2.conf
  study-builder/studies/testboston/snippets/consent-section3.conf
  study-builder/studies/testboston/snippets/consent-section4.conf
  study-builder/studies/testboston/snippets/question-blood-test-list.conf
  study-builder/studies/testboston/snippets/question-contact-diagnosed.conf
  study-builder/studies/testboston/snippets/question-covid-been-tested.conf
  study-builder/studies/testboston/snippets/question-covid-test-date.conf
  study-builder/studies/testboston/snippets/question-covid-test-kind.conf
  study-builder/studies/testboston/snippets/question-covid-test-result.conf
  study-builder/studies/testboston/snippets/question-current-symptoms.conf
  study-builder/studies/testboston/snippets/question-household-diagnosed.conf
  study-builder/studies/testboston/snippets/question-interested-continuing.conf
  study-builder/studies/testboston/snippets/question-past-symptoms.conf
  study-builder/studies/testboston/snippets/question-self-signature.conf
  study-builder/studies/testboston/snippets/question-staff-signature.conf
  study-builder/studies/testboston/snippets/question-viral-test-list.conf
  study-builder/studies/testboston/snippets/question-who-filling.conf
  study-builder/studies/testboston/study-activities.conf
  study-builder/studies/testboston/study-emails.conf
  study-builder/studies/testboston/study-events.conf
  study-builder/studies/testboston/study-kits.conf
  study-builder/studies/testboston/study-pdfs.conf
  study-builder/studies/testboston/study-workflows.conf
  study-builder/studies/testboston/study.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#220 Rename vault variable for recatpcha server site key
  study-builder/config/testboston-vars.conf.ctmpl
Labels: C-enhancement

#224 Script to generate invitation codes
  pepper-apis/src/test/java/org/broadinstitute/ddp/script/InsertInvitationRecruitmentCodesScript.java
Labels: C-docs, R-security, java

#222 DDP-4696 add elasticsearch role for reading all indices
  elasticsearch/render.sh
  elasticsearch/roles/pepper_index_read_phi.json
Labels: C-enhancement, I-elasticsearch, R-security

#227 DDP-4627 add TESTBOSTON kit type
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDsmNotificationEventType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/KitTypeDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/DsmNotificationEventType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/KitTypes.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/seed/DDP-4627-testboston-kit-type.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendDsmNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/study-kits.conf
Labels: C-feature
