Repository broadinstitute/ddp-study-server, pull requests merged in 2020-08, with the labels that each got.

#313 Update invitation generation script to filter out bad words
  pepper-apis/src/test/java/org/broadinstitute/ddp/script/InsertInvitationRecruitmentCodesScript.java
Labels: C-feature

#314 testboston: enable idp-initiated sso
  study-builder/tenants/register-user-in-pepper.js
Labels: C-study, I-auth0, R-security

#327 DDP-4861 testboston: remove kit question from longitudinal survey
  study-builder/studies/testboston/followup-survey.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/snippets/question-followup-can-receive-kit.conf
  study-builder/studies/testboston/study-kits.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#332 DDP-4876 add requirement flags to address component
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiComponent.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/MailingAddressComponentDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/MailingAddressComponentDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/MailingAddressComponent.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4876-mailing-address-component-required-flags.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteStandaloneTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/BackfillMailingAddressComponentTitle.java
  study-builder/studies/testboston/address.conf
Labels: C-breaking, C-bug, C-study

#334 Remove queued event after processing activity creation
  pepper-apis/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Labels: C-bug

#344 DDP-4900 setup gae-egress-proxy
  .circleci/config.yml
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/gae-egress-proxy/Dockerfile
  pepper-apis/gae-egress-proxy/README.md
  pepper-apis/gae-egress-proxy/build-and-push.sh
  pepper-apis/gae-egress-proxy/docker-compose.yaml
  pepper-apis/gae-egress-proxy/entrypoint.sh
  pepper-apis/gae-egress-proxy/init-firewall.sh
  pepper-apis/gae-egress-proxy/init-vm.sh
  pepper-apis/gae-egress-proxy/pepper-squid.sh
  pepper-apis/gae-egress-proxy/squid.conf
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ElasticsearchServiceUtil.java
Labels: D-release, R-security

#347 DDP-4905 Add live with other people question to COVID survey
  study-builder/studies/testboston/baseline-covid.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/snippets/question-live-with-other-people.conf
  study-builder/studies/testboston/subs.conf
Labels: C-docs, C-feature, C-study

#345 Try to fix Redis timeout error
  pepper-apis/config/redisson-jcache.yaml.ctmpl
  pepper-apis/src/test/resources/redisson-test-jcache.yaml
Labels: C-feature

#346 DDP-4903 testboston: longitudinal flow based on dsm notifications
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/DsmNotificationEventType.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/seed/testboston-delivered.xml
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/longitudinal-covid.conf
  study-builder/studies/testboston/snippets/question-interpreter-signature.conf
  study-builder/studies/testboston/snippets/question-staff-signature.conf
  study-builder/studies/testboston/study-events.conf
Labels: C-study
