Repository broadinstitute/ddp-study-server, pull requests merged in 2020-09, with the labels that each got.

#352 DDP-4910 remove email from post-password-reset
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/post-password-reset.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PostPasswordResetRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PostPasswordResetRouteTest.java
Labels: C-breaking, D-release

#361 DDP-4927 allow configuring exclude_status_icon_from_display
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivity.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4927-exclude-status-icon-from-display.xml
  pepper-apis/src/main/resources/sql.conf
  study-builder/studies/snippets/activity-general-form.conf
Labels: C-feature

#360 DDP-4911 support test result dsm notification
  pepper-apis/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nTemplateConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventTriggerSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/activity/ActivityInstanceSummary.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/dsm/DsmNotificationPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/DsmNotificationEventType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/TestResult.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/ActivityInstanceCreationEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/DsmNotificationSignal.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/DsmNotificationTrigger.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserActivityInstanceListRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ValidatedJsonInputRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/seed/DDP-4911-test-result-event.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserActivityInstanceListRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/result-report.conf
  study-builder/studies/testboston/study-activities.conf
  study-builder/studies/testboston/study-events.conf
  study-builder/studies/testboston/subs.conf
Labels: C-feature, C-study

#367 DDP-4934 support events based on corrected status of test result
  pepper-apis/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/TestResult.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/InterpreterContext.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/PexInterpreter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/EventService.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRouteTest.java
  study-builder/studies/testboston/study-events.conf
Labels: C-feature, C-study

#362 DDP-4913: Prion migration branch
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/migration/StudyMigrationRun.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/StudyDataLoaderMain.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/src/test/resources/datamigration-prion-testdata.json
  pepper-apis/src/test/resources/prion_question_stableid_map.json
  study-builder/studies/prion/consent.conf
  study-builder/studies/prion/emails/data_request.html
  study-builder/studies/prion/i18n/en.conf
  study-builder/studies/prion/i18n/es.conf
  study-builder/studies/prion/i18n/he.conf
  study-builder/studies/prion/i18n/zh.conf
  study-builder/studies/prion/medical.conf
  study-builder/studies/prion/request.conf
  study-builder/studies/prion/sendgrid_emails.conf
  study-builder/studies/prion/study.conf
  study-builder/studies/prion/substitutions.conf
  study-builder/tenants/prion/loginPage.html
  study-builder/tenants/prion/login_en.json
  study-builder/tenants/prion/passwordResetPage.html
Labels: C-enhancement, C-feature, C-study

#368 DDP-4942 testboston: consent diffs
  study-builder/studies/testboston/consent.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
Labels: C-study, D-release

#371 testboston: reuse more translations
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
Labels: C-study, D-release

#370 DDP-4944 testboston: baseline_symptom required
  study-builder/studies/testboston/snippets/question-baseline-symptoms.conf
Labels: C-study, D-release

#369 DDP-4943 testboston: employment and occupation questions
  study-builder/studies/testboston/baseline-covid.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/snippets/question-employment-status.conf
  study-builder/studies/testboston/snippets/question-occupation.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study, D-release

#381 DDP-5013 testboston: reorder activities
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivity.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/ActivityDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
  study-builder/studies/snippets/activity-general-form.conf
  study-builder/studies/testboston/address.conf
  study-builder/studies/testboston/adhoc-symptom.conf
  study-builder/studies/testboston/baseline-covid.conf
  study-builder/studies/testboston/consent.conf
  study-builder/studies/testboston/longitudinal-covid.conf
  study-builder/studies/testboston/result-report.conf
  study-builder/studies/testboston/study-activities.conf
Labels: C-study

#378 DDP-5010 testboston: update activity naming details
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityI18nDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityI18nSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/i18n/ActivityI18nDetail.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityNamingDetails.java
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
Labels: C-study

#379 DDP-5012 support activity second names
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityI18nSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/activity/ActivityInstanceSummary.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/i18n/ActivityI18nDetail.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserActivityInstanceListRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5012-activity-second-name.xml
  pepper-apis/src/main/resources/sql.conf
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserActivityInstanceListRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityNamingDetails.java
  study-builder/studies/snippets/activity-general-form.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/result-report.conf
Labels: C-feature, C-study

#383 Fix NPE issues in jobs
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/OnDemandExportJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/DatabaseBackup.java
Labels: C-bug

#385 DDP-5019 pex: default isStatus() to false
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  study-builder/studies/angio/about-you.conf
  study-builder/studies/angio/consent.conf
  study-builder/studies/angio/followup-consent.conf
  study-builder/studies/angio/loved-one.conf
  study-builder/studies/angio/prequal.conf
  study-builder/studies/angio/release.conf
  study-builder/studies/brain/about-you.conf
  study-builder/studies/brain/consent.conf
  study-builder/studies/brain/post-consent.conf
  study-builder/studies/brain/prequal.conf
  study-builder/studies/brain/release.conf
Labels: C-breaking, C-bug

#384 DDP-5020: Prion: Added second names to surveys
  study-builder/studies/prion/consent.conf
  study-builder/studies/prion/i18n/en.conf
  study-builder/studies/prion/i18n/es.conf
  study-builder/studies/prion/i18n/he.conf
  study-builder/studies/prion/i18n/zh.conf
  study-builder/studies/prion/medical.conf
  study-builder/studies/prion/request.conf
  study-builder/studies/prion/snippets/agreement.conf
  study-builder/studies/prion/snippets/boolean.conf
  study-builder/studies/prion/snippets/country.conf
  study-builder/studies/snippets/picklist-question-single-checklist.conf
Labels: C-bug, C-study

#394 Prion: DDP-5047, add sign in link to user exists banner
  study-builder/tenants/prion/loginPage.html
Labels: C-study
