Repository broadinstitute/ddp-study-server, pull requests merged in 2020-06, with the labels that each got.

#231 DDP-4703 support special vars in activity templating
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nTemplateConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/FormInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/SectionBlockDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/MailingAddressComponent.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/transformers/DateTimeFormatUtils.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/transformers/LocalDateTimeAdapter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/transformers/UtcMillisToIsoDateAdapter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/transformers/UtcSecondsToIsoDateAdapter.java
  pepper-apis/src/main/resources/sql.conf
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/ActivityInstanceDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/FormInstanceDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/SectionBlockDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityInstanceServiceTest.java
  study-builder/studies/testboston/snippets/consent-section4.conf
Labels: C-feature

#228 Add error and warning message for kit zip code rule
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiKitRules.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/KitConfigurationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitZipCodeRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/VerifyMailAddressRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/AddressService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/zip-code-messages.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/kit/KitConfigurationTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/AddressServiceTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/ActivityBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/BuilderUtils.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/study-kits.conf
  study-builder/studies/testboston/subs.conf
Labels: C-feature, C-study, I-nonauth-route

#237 DDP-4600 improve date validations
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DateQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DateFieldRequiredRule.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/validation/DateRangeRule.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DateFieldRequiredRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/DateRangeRuleTest.java
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/snippets/question-blood-test-list.conf
  study-builder/studies/testboston/snippets/question-covid-test-date.conf
  study-builder/studies/testboston/snippets/question-viral-test-list.conf
Labels: C-breaking, C-study

#238 Update automatic scaling settings for dev environment
  .circleci/config.yml
  pepper-apis/src/appengine/DataDonationPlatform.yaml
Labels: C-docs, C-poc

#229 DDP-4338. Fix UserAuthCheckFilter responses
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/UserAuthCheckFilter.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/UserAuthCheckFilterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AuthFilterRouteTest.java
Labels: I-auth-filter, R-security

#235 DDP-1307: Added backend route that provides list of languages support…
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/RouteConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyLanguageDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyLanguageSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/study/StudyLanguage.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/ListStudyLanguagesRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/StudyLanguageDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ListStudyLanguagesRouteTest.java
Labels: C-feature, I-nonauth-route, L-route-audit, help wanted

#236 Enable local registration for studies in other tenants
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  study-builder/config/cmi-config.json.ctmpl
  study-builder/config/testboston-config.json.ctmpl
Labels: C-enhancement, R-security

#239 Switching to basic scaling on GAE
  pepper-apis/src/appengine/DataDonationPlatform.yaml
Labels: C-infosec

#240 DDP-4703 allow saving snapshot of activity substitutions
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiFormActivitySetting.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/FormActivitySettingDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/ConsentActivityDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/FormActivityDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4703-activity-instance-substitutions.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/AngioConsentVersion2.java
  study-builder/studies/snippets/activity-general-form.conf
  study-builder/studies/testboston/consent.conf
Labels: C-feature, C-study

#226 DDP-4633 export invitations and language to elasticsearch
  elasticsearch/templates/participants_structured.json
  elasticsearch/templates/users.json
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/InvitationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/StudyExtract.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/json/structured/InvitationRecord.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/json/structured/ParticipantProfile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/json/structured/ParticipantRecord.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
Labels: C-feature, D-downtime, I-elasticsearch

#241 DDP-4599 testboston: consent signature section
  study-builder/studies/testboston/consent.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/snippets/consent-section1.conf
  study-builder/studies/testboston/snippets/consent-section2.conf
  study-builder/studies/testboston/snippets/consent-section3.conf
  study-builder/studies/testboston/snippets/consent-section4.conf
  study-builder/studies/testboston/snippets/question-initial.conf
  study-builder/studies/testboston/snippets/question-interpreter-signature.conf
  study-builder/studies/testboston/snippets/question-self-signature.conf
  study-builder/studies/testboston/snippets/question-staff-signature.conf
  study-builder/studies/testboston/snippets/question-store-sample.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#245 DDP-4628 allow study admins to login
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
Labels: C-enhancement, R-security

#250 testboston: admin login landing
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/StudyAdminAuthFilter.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AdminLookupInvitationRouteTest.java
  study-builder/config/testboston-config.json.ctmpl
  study-builder/tenants/testboston/tenant.yaml
Labels: C-study

#233 DDP-1855 allow multiple templates for notification action
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventActionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventActionSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiNotificationService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiNotificationTemplate.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiNotificationType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUserNotificationEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/NotificationDetailsDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/QueuedNotificationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/SendgridEmailEventActionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/NotificationEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/NotificationTemplate.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-1855-user-notification-templates.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilderTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/NotificationEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendDsmNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendEmailRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/FixWelcomeEmailEvents.java
  study-builder/studies/study-example.conf
Labels: C-feature, R-high

#243 Cache languages and use study default languages
  pepper-apis/src/main/java/org/broadinstitute/ddp/cache/LanguageStore.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityDefStore.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/FormInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyLanguageDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyLanguageSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/TemplateDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/StudyLanguageResolutionFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/study/StudyLanguage.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AddProfileRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminCreateStudyParticipantRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetStudiesRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchProfileRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/I18nUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/RouteUtil.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/content/I18nContentRendererTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/SectionBlockDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/StudyLanguageDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/UserDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/ValidationDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/filter/StudyLanguageResolutionFilterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetStudiesRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetStudyDetailRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ListStudyLanguagesRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityValidationServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Labels: C-enhancement, R-high

#252 Improve counting of questions and answers
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityDefStore.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/AgreementAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/Answerable.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/BoolAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/CompositeAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/DateAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/NumericIntegerAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/PicklistAnswer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/answer/TextAnswer.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/ActivityDefStoreTest.java
Labels: C-enhancement

#256 Allow HTML in activity title
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/content/HtmlConverterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
Labels: C-feature

#255 DDP-4709: Consent styling
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/snippets/consent-section4.conf
Labels: help wanted

#254 Remaining configs for testboston
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDateQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiDateQuestionYearPicklist.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DatePicklistDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/date-question-picklist-allow-future-years.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiDateQuestion.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/JdbiDateQuestionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/definition/question/DatePicklistDefTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteTest.java
  study-builder/config/testboston-config.json.ctmpl
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EmailBuilder.java
  study-builder/studies/snippets/date-question-month-year-dropdown.conf
  study-builder/studies/snippets/date-question-year-dropdown.conf
  study-builder/studies/testboston/emails/account_created.html
  study-builder/studies/testboston/emails/consent_completed.html
  study-builder/studies/testboston/emails/kit_sent.html
  study-builder/studies/testboston/emails/login_account_created.html
  study-builder/studies/testboston/pdfs/consent.pdf
  study-builder/studies/testboston/snippets/question-blood-test-list.conf
  study-builder/studies/testboston/snippets/question-covid-test-date.conf
  study-builder/studies/testboston/snippets/question-viral-test-list.conf
  study-builder/studies/testboston/study-emails.conf
  study-builder/studies/testboston/study-events.conf
  study-builder/studies/testboston/study-pdfs.conf
  study-builder/studies/testboston/study-workflows.conf
  study-builder/studies/testboston/study.conf
  study-builder/studies/testboston/subs.conf
  study-builder/tenants/testboston/emails/change_password.html
  study-builder/tenants/testboston/pages/login.html
  study-builder/tenants/testboston/pages/password_reset.html
  study-builder/tenants/testboston/tenant.yaml
Labels: C-feature, C-study, R-high

#251 Generate config file for Pepper-backend GAE deployment
  .circleci/config.yml
  pepper-apis/config/DataDonationPlatform.yaml.ctmpl
  pepper-apis/config/manifest.rb
  pepper-apis/src/appengine/DataDonationPlatform.yaml
  pepper-apis/src/appengine/Housekeeping.yaml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
Labels: C-enhancement

#230 Allowing configuring invite error message
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudyDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/StudySql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/study/StudySettings.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/study-settings.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/study.conf
Labels: C-feature, C-study, I-nonauth-route

#258 DDP-4737 tooltip support
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/PicklistOptionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/QuestionDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/AgreementQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/BoolQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/CompositeQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/DateQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/NumericQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistOptionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/PicklistQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/QuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/question/TextQuestionDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/AgreementQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/BoolQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/CompositeQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DatePicklistQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/DateQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/NumericQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistOption.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/Question.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/TextQuestion.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4737-tooltip.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiBlockConditionalControl.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiBlockQuestion.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiCompositeQuestion.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiPicklistOption.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiTextQuestion.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/PicklistQuestionDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/ActivityDefStoreTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/FormActivityDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/collectors/AgreementQuestionFormatStrategyTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistOptionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistQuestionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/question/QuestionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/IntRangeRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/NumOptionsSelectedRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/validation/RequiredRuleTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestFormActivity.java
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/snippets/question-contact-diagnosed.conf
  study-builder/studies/testboston/snippets/question-covid-test-kind.conf
  study-builder/studies/testboston/snippets/question-household-diagnosed.conf
  study-builder/studies/testboston/snippets/question-interested-continuing.conf
Labels: C-feature, C-study

#260 Activity special substitutions round 2
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nTemplateConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/TemplateDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/template/Template.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/transformers/DateTimeFormatUtils.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityInstanceServiceTest.java
  study-builder/studies/testboston/snippets/consent-section4.conf
Labels: C-enhancement

#262 DDP-4744 track user timezone
  pepper-apis/docs/specification/src/components/request-bodies.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/UserProfileDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/UserProfileSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/Profile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/UserRegistrationPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/user/UserProfile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4744-time-zone.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/ParticipantDao.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/UserDao.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/UserProfileDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/script/StudyPasswordResetEmailGeneratorTest.java
  study-builder/tenants/register-user-in-pepper.js
Labels: C-feature, I-auth0

#272 DDP-4609 support creating kits with manual approval
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/DsmKitRequestDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/KitConfigurationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/dsm/DsmKitRequest.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/kit/KitConfigurationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/housekeeping/dao/KitCheckDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/kit/KitConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/DataLoader.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/StudyDataLoader.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-4609-kits-needs-approval.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/DsmKitRequestDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/DsmKitRequestDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/housekeeping/dao/KitCheckDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/kit/KitConfigurationTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/AddressServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/DataLoaderTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/study-kits.conf
Labels: C-feature, C-study

#273 Allow admin to check invite without recaptcha
  pepper-apis/docs/specification/src/endpoints/studies.invitation-check.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/invitation/InvitationCheckStatusPayload.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/security/UserPermissions.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/InvitationCheckStatusRouteTest.java
Labels: C-enhancement, I-nonauth-route

#274 testboston: consent updates
  study-builder/studies/testboston/consent.conf
  study-builder/studies/testboston/emails/account_created.html
  study-builder/studies/testboston/emails/consent_completed.html
  study-builder/studies/testboston/emails/kit_sent.html
  study-builder/studies/testboston/emails/login_account_created.html
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/snippets/consent-section1.conf
  study-builder/studies/testboston/snippets/consent-section2.conf
  study-builder/studies/testboston/snippets/consent-section3.conf
  study-builder/studies/testboston/snippets/consent-section4.conf
  study-builder/studies/testboston/study-events.conf
  study-builder/studies/testboston/study-pdfs.conf
  study-builder/studies/testboston/subs.conf
  study-builder/tenants/testboston/emails/change_password.html
Labels: C-study
