Repository broadinstitute/ddp-study-server, pull requests merged in 2021-07, with the labels that each got.

#852 DDP-6511 clear child instances on parent activity submit
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteStandaloneTest.java
Labels: C-feature

#859 DDP-6525 rgp: fix shown expr for mother/father deceased questions
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/RgpFixDeceasedShowHide.java
  study-builder/studies/rgp/father.conf
  study-builder/studies/rgp/mother.conf
  study-builder/studies/rgp/patch-log.conf
Labels: C-bug, C-study

#867 RGP: DDP-6523: Use proxy for SendGrid for Seqr exp…
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/SendGridMailUtil.java
Labels: C-bug, C-study

#868 DDP-6546 fix validating child activities during parent activity submission
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
Labels: C-bug, D-hotfix

#869 RGP: DDP-6523: Fixed code using proxy for SendGrid for Seqr export co…
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/SendGridMailUtil.java
Labels: C-bug, L-housekeeping

#861 DDP-6404,DDP-6405 pancan: self consent
  study-builder/studies/pancan/about-you.conf
  study-builder/studies/pancan/consent-self.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/snippets/common/bool-question-yes-no-required.conf
  study-builder/studies/pancan/snippets/common/date-question-dob-required.conf
  study-builder/studies/pancan/snippets/common/i18n/en.conf
  study-builder/studies/pancan/snippets/common/i18n/es.conf
  study-builder/studies/pancan/snippets/common/text-question-signature-required.conf
  study-builder/studies/pancan/snippets/consent-intro.conf
  study-builder/studies/pancan/snippets/consent-section1.conf
  study-builder/studies/pancan/snippets/consent-section2.conf
  study-builder/studies/pancan/snippets/question-bool-req.conf
  study-builder/studies/pancan/snippets/question-date-dob-req.conf
  study-builder/studies/pancan/snippets/question-text-firstname-req.conf
  study-builder/studies/pancan/snippets/question-text-lastname-req.conf
  study-builder/studies/pancan/snippets/question-text-signature-req.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/study.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#866 DDP-6455,DDP-6456 pancan: consent assent
  study-builder/studies/pancan/consent-assent.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#873 DDP-6457 pancan: release activities
  study-builder/studies/pancan/consent-assent.conf
  study-builder/studies/pancan/consent-parental.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/release-minor.conf
  study-builder/studies/pancan/release-self.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#871 PanCan consent complete email [DDP-6359]
  .gitallowed
  study-builder/studies/pancan/emails/consent-complete.en.html
  study-builder/studies/pancan/emails/consent-complete.es.html
  study-builder/studies/pancan/emails/consent-complete.tmpl.html
  study-builder/studies/pancan/study-emails.conf
  study-builder/studies/pancan/study-events.conf
Labels: C-study

#879 DDP-6305 pancan: about-cancer activity
  study-builder/studies/pancan/about-cancer.conf
  study-builder/studies/pancan/about-you.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/snippets/common/date-question-month-year-dropdown.conf
  study-builder/studies/pancan/snippets/question-body-loc.conf
  study-builder/studies/pancan/snippets/question-hidden-diagnosis-type.conf
  study-builder/studies/pancan/snippets/question-picklist-ynunsure.conf
  study-builder/studies/pancan/snippets/question-therapy-name.conf
  study-builder/studies/pancan/snippets/question-treatments.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#885 pancan: refactor prequal
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/prequal.conf
  study-builder/studies/pancan/snippets/common/country-picklist-options.conf
  study-builder/studies/pancan/snippets/common/i18n/en.conf
  study-builder/studies/pancan/snippets/common/i18n/es.conf
  study-builder/studies/pancan/snippets/common/picklist-question-yes-no-notsure.conf
  study-builder/studies/pancan/snippets/question-advanced-breast.conf
  study-builder/studies/pancan/snippets/question-advanced-prostate.conf
  study-builder/studies/pancan/snippets/question-age.conf
  study-builder/studies/pancan/snippets/question-country.conf
  study-builder/studies/pancan/snippets/question-describe.conf
  study-builder/studies/pancan/snippets/question-diagnosed-primary-cancer-breast-advanced.conf
  study-builder/studies/pancan/snippets/question-diagnosed-primary-cancer-list.conf
  study-builder/studies/pancan/snippets/question-diagnosed-primary-cancer-prostate-advanced.conf
  study-builder/studies/pancan/snippets/question-picklist-ynnotsure.conf
  study-builder/studies/pancan/snippets/question-primary-cancer-list.conf
  study-builder/studies/pancan/snippets/question-primary-cancer.conf
  study-builder/studies/pancan/snippets/question-province.conf
  study-builder/studies/pancan/snippets/question-self-age.conf
  study-builder/studies/pancan/snippets/question-state.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/study.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#886 testboston: backfill for completed status
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonBackfillCompleted.java
Labels: C-study, D-hotfix

#888 pancan: a few fixes
  study-builder/studies/pancan/consent-assent.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/study-activities.conf
Labels: C-study

#889 DDP-6588 pancan: dashboard announcement messages
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/snippets/announcement-msg-child.conf
  study-builder/studies/pancan/snippets/announcement-msg-self.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#893 Adds iOS client to the pancan study
  study-builder/config/vars.conf.ctmpl
  study-builder/studies/pancan/study.conf
Labels: C-study

#892 DDP-6338 support check_each_instance in workflows
  pepper-apis/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiWorkflowActivityState.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiWorkflowState.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/WorkflowDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/workflow/ActivityState.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/workflow/NextStateCandidate.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/WorkflowService.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-6338-workflow-check-each-instance.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/WorkflowDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/WorkflowServiceTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/WorkflowBuilder.java
  study-builder/studies/study-example.conf
Labels: C-feature

#894 DDP-6338 pancan: update workflow routing for about-cancer
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/activityinstancecreation/ActivityInstanceCreationFromAnswersEventSyncProcessor.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/actvityinstancebuilder/FormInstanceTest.java
  study-builder/studies/pancan/about-cancer.conf
  study-builder/studies/pancan/snippets/common/cancer-picklist-options.conf
  study-builder/studies/pancan/snippets/question-hidden-diagnosis-type.conf
  study-builder/studies/pancan/snippets/question-primary-cancer.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
Labels: C-enhancement, C-study

#903 pancan: email templates and event configs
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/NotificationTemplateVariables.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubMessageBuilder.java
  study-builder/studies/pancan/emails/blood_received.en.html
  study-builder/studies/pancan/emails/blood_received.es.html
  study-builder/studies/pancan/emails/blood_received.tmpl.html
  study-builder/studies/pancan/emails/blood_reminder.en.html
  study-builder/studies/pancan/emails/blood_reminder.es.html
  study-builder/studies/pancan/emails/blood_reminder.tmpl.html
  study-builder/studies/pancan/emails/blood_sent.en.html
  study-builder/studies/pancan/emails/blood_sent.es.html
  study-builder/studies/pancan/emails/blood_sent.tmpl.html
  study-builder/studies/pancan/emails/consent_complete.en.html
  study-builder/studies/pancan/emails/consent_complete.es.html
  study-builder/studies/pancan/emails/consent_completed.en.html
  study-builder/studies/pancan/emails/consent_completed.es.html
  study-builder/studies/pancan/emails/consent_completed.tmpl.html
  study-builder/studies/pancan/emails/consent_reminder.en.html
  study-builder/studies/pancan/emails/consent_reminder.es.html
  study-builder/studies/pancan/emails/consent_reminder.tmpl.html
  study-builder/studies/pancan/emails/release_completed.en.html
  study-builder/studies/pancan/emails/release_completed.es.html
  study-builder/studies/pancan/emails/release_completed.tmpl.html
  study-builder/studies/pancan/emails/release_reminder.en.html
  study-builder/studies/pancan/emails/release_reminder.es.html
  study-builder/studies/pancan/emails/release_reminder.tmpl.html
  study-builder/studies/pancan/emails/saliva_received.en.html
  study-builder/studies/pancan/emails/saliva_received.es.html
  study-builder/studies/pancan/emails/saliva_received.tmpl.html
  study-builder/studies/pancan/emails/sign_stool_collection_form.en.html
  study-builder/studies/pancan/emails/sign_stool_collection_form.es.html
  study-builder/studies/pancan/emails/survey_reminder.en.html
  study-builder/studies/pancan/emails/survey_reminder.es.html
  study-builder/studies/pancan/emails/survey_reminder.tmpl.html
  study-builder/studies/pancan/emails/welcome.en.html
  study-builder/studies/pancan/emails/welcome.es.html
  study-builder/studies/pancan/study-emails.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/subs.conf
Labels: C-feature, C-study

#904 DDP-6641 set email as verified when updating via DSM task
  pepper-apis/src/main/java/org/broadinstitute/ddp/event/pubsubtask/impl/updateprofile/UpdateEmailHandler.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UpdateUserEmailRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/UpdateUserLoginDataUtilTest.java
Labels: C-enhancement, D-hotfix, I-auth0

#908 DDP-6369 pancan: survey email reminder
  study-builder/studies/pancan/emails/survey_reminder.tmpl.html
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#910 Circadia: add emails
  study-builder/studies/circadia/emails/complete_activity_final_reminder.en.html
  study-builder/studies/circadia/emails/complete_activity_final_reminder.tmpl.html
  study-builder/studies/circadia/emails/complete_activity_reminder.en.html
  study-builder/studies/circadia/emails/complete_activity_reminder.tmpl.html
  study-builder/studies/circadia/emails/kit_received.en.html
  study-builder/studies/circadia/emails/kit_received.tmpl.html
  study-builder/studies/circadia/emails/kit_sent.en.html
  study-builder/studies/circadia/emails/kit_sent.tmpl.html
  study-builder/studies/circadia/sendgrid-emails.conf
  study-builder/studies/circadia/study.conf
Labels: C-study

#900 Picklist Options Documentation Update
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/pepper.yml
Labels: C-docs, C-enhancement

#914 DDP-6637 pancan: body location list
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/snippets/question-body-loc.conf
Labels: C-study

#913 pancan: kit config and snapshotting address
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  study-builder/studies/pancan/consent-assent.conf
  study-builder/studies/pancan/consent-parental.conf
  study-builder/studies/pancan/consent-self.conf
  study-builder/studies/pancan/study-kits.conf
  study-builder/studies/pancan/study.conf
Labels: C-enhancement, C-study

#915 DDP-6329 add full project names for CMI studies
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/WorkflowService.java
  study-builder/studies/angio/study.conf
  study-builder/studies/brain/study.conf
  study-builder/studies/esc/study.conf
  study-builder/studies/mbc/study.conf
  study-builder/studies/mpc/study.conf
  study-builder/studies/osteo/study.conf
Labels: C-bug, C-study

#911 Circadia: add link to login page to consent received email
  study-builder/studies/circadia/emails/consent_received.en.html
  study-builder/studies/circadia/emails/consent_received.tmpl.html
Labels: C-study

#924 DDP-6657 pancan: add-child flow
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiWorkflowState.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/workflow/StudyRedirectState.java
  study-builder/studies/pancan/add-child.conf
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/snippets/question-primary-cancer-groups-add-child.conf
  study-builder/studies/pancan/snippets/question-primary-cancer-list-add-child.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/study-events.conf
  study-builder/studies/pancan/study-workflows.conf
  study-builder/studies/pancan/study.conf
  study-builder/studies/pancan/subs.conf
Labels: C-bug, C-study

#929 DDP-6671 pacan: validations for dob in the consents
  study-builder/studies/pancan/i18n/en.conf
  study-builder/studies/pancan/i18n/es.conf
  study-builder/studies/pancan/study-activities.conf
  study-builder/studies/pancan/subs.conf
Labels: C-study

#932 pancan: make proxy announcement msg not permanent
  study-builder/studies/pancan/study-events.conf
Labels: C-study
