Repository broadinstitute/ddp-study-server, pull requests merged in 2021-05, with the labels that each got.

#723 DDP-5676 Add workflow statuses to /status endpoint
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/user.studies.status.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/ParticipantStatusES.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/ParticipantStatusTrackingInfo.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetDsmParticipantStatusRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/DateTimeUtils.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/dsm/ParticipantStatusTrackingInfoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetDsmParticipantStatusRouteTest.java
Labels: C-breaking

#733 DDP-6027 handle deleting nested instances for temp users
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/UserDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/UserService.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/UserDaoTest.java
Labels: C-bug

#735 DDP-5925 cmi: admin clients and prism role
  study-builder/config/cmi-config.json.ctmpl
  study-builder/config/vars.conf.ctmpl
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateStudyClients.java
  study-builder/studies/angio/study.conf
  study-builder/tenants/cmi/pages/login.html
  study-builder/tenants/cmi/rules/check-admin-role.js
  study-builder/tenants/cmi/tenant.yaml
Labels: C-study, I-auth0

#719 DDP-5924 api docs for admin participants lookup endpoint
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/admin.studies.participants-lookup.yml
  pepper-apis/docs/specification/src/pepper.yml
Labels: C-docs

#688 Ddp 5096 rgp seqr export
  pepper-apis/config/application.conf.ctmpl
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/collectors/ComplexChildResponseCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/collectors/ParentActivityResponseCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/constants/CustomExportConfigFile.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/db/dao/CustomExportDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/db/dto/CompletedUserDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/db/dto/CustomExportDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomActivityExtract.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/housekeeping/schedule/CustomExportJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/package-info.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivity.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/ActivityResponseMapping.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/ExportUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ParticipantMetadataFormatter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/PubSubConnectionManager.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/Keys.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/monitoring/StackdriverCustomMetric.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/SecretUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/SendGridMailUtil.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5096-custom-export-last-completed.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/customexport/db/dao/CustomExportDaoTest.java
  study-builder/studies/rgp/emails/seqrExportFailure.html
  study-builder/studies/rgp/emails/seqrExportSkip.html
  study-builder/studies/rgp/emails/seqrExportSuccess.html
Labels: C-feature, C-study, L-alerts, L-housekeeping

#759 DDP-6047 rarex: missed a section title in qol-child
  study-builder/studies/rarex/quality-of-life-child.conf
Labels: C-study

#761 rarex: DDP-6043 and other minor edits
  study-builder/studies/rarex/data-sharing.conf
  study-builder/studies/rarex/family-member.conf
  study-builder/studies/rarex/general-information.conf
  study-builder/studies/rarex/i18n/en.json
  study-builder/studies/rarex/legacy.conf
  study-builder/studies/rarex/study.conf
Labels: C-study

#764 rarex: more edits
  study-builder/studies/rarex/general-information.conf
  study-builder/studies/rarex/i18n/en.json
  study-builder/studies/rarex/legacy.conf
Labels: C-study

#770 rgp: substitute assets bucket in auth0 tenant configs
  study-builder/config/rgp-config.json.ctmpl
  study-builder/tenants/rgp/emails/change_password.html
  study-builder/tenants/rgp/emails/verify_email.html
  study-builder/tenants/rgp/pages/login.html
Labels: C-study

#771 DDP-6155 pex: fix loading of activity definitions
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
Labels: C-bug, D-release

#773 DDP-5925 cmi: admin clients for rest of studies
  study-builder/studies/brain/study.conf
  study-builder/studies/esc/study.conf
  study-builder/studies/mbc/study.conf
  study-builder/studies/mpc/study.conf
  study-builder/studies/osteo/study.conf
Labels: C-study

#693 DDP-5750 testboston: new enrollment events
  pepper-apis/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/src/main/java/org/broadinstitute/ddp/Housekeeping.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventActionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventActionSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventTriggerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventTriggerSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUserStudyEnrollment.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/EventActionType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/EventTriggerType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/ActivityInstanceCreationEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/EnrollUserEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/EventConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/UpdateUserStatusEventAction.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/UserStatusChangedSignal.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/UserStatusChangedTrigger.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5750-new-enrollment-events.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/ActivityInstanceCreationEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/EnrollUserEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/NotificationEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/UpdateUserStatusEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonCompletedStatusEvent.java
  study-builder/studies/study-example.conf
  study-builder/studies/testboston/emails/study_completed.en.html
  study-builder/studies/testboston/emails/study_completed.tmpl.html
  study-builder/studies/testboston/study-emails.conf
  study-builder/studies/testboston/study-events.conf
Labels: C-feature, C-study, S-on-hold

#775 Updates the Count Me In study names [DDP-6117]
  study-builder/studies/angio/study.conf
  study-builder/studies/brain/study.conf
  study-builder/studies/esc/study.conf
  study-builder/studies/mbc/study.conf
  study-builder/studies/mpc/study.conf
  study-builder/studies/osteo/study.conf
Labels: C-bug

#783 Circadia: auth0 login / signup page changes
  study-builder/tenants/circadia/pages/login.html
Labels: C-study, I-auth0
