Repository broadinstitute/ddp-study-server, pull requests merged in 2021-04, with the labels that each got.

#692 DDP-5749 add COMPLETED enrollment status
  pepper-apis/docs/specification/src/endpoints/user.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUserStudyEnrollment.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/MedicalProviderDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/dsm/ParticipantStatusTrackingInfo.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/study/EnrollmentStatusCount.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/user/EnrollmentStatusType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/CreateMailAddressRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/DeleteUserRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/DsmPdfRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetDsmInstitutionRequestsRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetDsmMedicalRecordRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetDsmParticipantInstitutionsRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetPdfRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UpdateMailAddressRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/seed/DDP-5749-completed-status.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/KitScheduleDao.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/service/KitCheckService.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/util/StatisticsUtil.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetPdfRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetStudyStatisticsRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/KitCheckServiceTest.java
Labels: C-feature, R-features

#666 Family History Study Configuration
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ConfigUtil.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/ActivityBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
  study-builder/studies/osteo/study.conf
  study-builder/studies/osteo/subs.conf
  study-builder/studies/shared/family-history/family-history-about-you.conf
  study-builder/studies/shared/family-history/family-history-aunt-uncle.conf
  study-builder/studies/shared/family-history/family-history-child.conf
  study-builder/studies/shared/family-history/family-history-father.conf
  study-builder/studies/shared/family-history/family-history-maternal-grandfather.conf
  study-builder/studies/shared/family-history/family-history-maternal-grandmother.conf
  study-builder/studies/shared/family-history/family-history-mother.conf
  study-builder/studies/shared/family-history/family-history-paternal-grandfather.conf
  study-builder/studies/shared/family-history/family-history-paternal-grandmother.conf
  study-builder/studies/shared/family-history/family-history-sibling.conf
  study-builder/studies/shared/family-history/family-history-study-activity-entry.conf
  study-builder/studies/shared/family-history/family-history-top-level.conf
  study-builder/studies/shared/family-history/snippets/family-history-age-range-picklistoptions.conf
  study-builder/studies/shared/family-history/snippets/family-history-block-conditional-cancer-list.conf
  study-builder/studies/shared/family-history/snippets/family-history-block-question-age-range.conf
  study-builder/studies/shared/family-history/snippets/family-history-block-question-alias.conf
  study-builder/studies/shared/family-history/snippets/family-history-block-question-currenty-living.conf
  study-builder/studies/shared/family-history/snippets/family-history-father-mother-common-activity.conf
  study-builder/studies/shared/family-history/snippets/family-history-grandparent.conf
  study-builder/studies/shared/family-history/snippets/family-history-section-family-member-intro-block.conf
  study-builder/studies/shared/family-history/snippets/family-history-section-instructions.conf
  study-builder/studies/shared/family-history/snippets/family-history-section-intro.conf
  study-builder/studies/shared/family-history/snippets/picklist-option.conf
Labels: C-feature, C-study

#687 DDP-5738 more error logging in user registration
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
Labels: C-enhancement

#694 DDP-5760 testboston: disable kit prep email
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonDisableKitPrepEmail.java
  study-builder/studies/testboston/patch-log.conf
Labels: C-study

#689 DDP-5708 rgp: refactor questions and add version 2
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/RgpVersion2.java
  study-builder/studies/rgp/enrollment-questions.conf
  study-builder/studies/rgp/enrollment.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
  study-builder/studies/rgp/patch-log.conf
  study-builder/studies/rgp/patches/version2.conf
  study-builder/studies/rgp/prequal.conf
  study-builder/studies/rgp/snippets/rgp-age-required.conf
  study-builder/studies/rgp/snippets/rgp-can-participate-required.conf
  study-builder/studies/rgp/snippets/rgp-condition-onset-required.conf
  study-builder/studies/rgp/snippets/rgp-condition-required.conf
  study-builder/studies/rgp/snippets/rgp-deceased-dna-required.conf
  study-builder/studies/rgp/snippets/rgp-ethnicity-required.conf
  study-builder/studies/rgp/snippets/rgp-picklist-multi-dropdown.conf
  study-builder/studies/rgp/snippets/rgp-picklist-multi-list.conf
  study-builder/studies/rgp/snippets/rgp-picklist-sex.conf
  study-builder/studies/rgp/snippets/rgp-picklist-single-dropdown.conf
  study-builder/studies/rgp/snippets/rgp-picklist-single-list.conf
  study-builder/studies/rgp/snippets/rgp-picklist-yn-unsure.conf
  study-builder/studies/rgp/snippets/rgp-picklist-yn.conf
  study-builder/studies/rgp/snippets/rgp-race-required.conf
  study-builder/studies/rgp/snippets/rgp-tests-family.conf
  study-builder/studies/rgp/snippets/rgp-tests-lab.conf
  study-builder/studies/rgp/snippets/rgp-tests-year.conf
  study-builder/studies/rgp/snippets/rgp-text-question.conf
  study-builder/studies/rgp/study.conf
  study-builder/studies/rgp/substitutions.conf
Labels: C-study

#695 DDP-5571 support canDeleteFistInstance flag for nested activities
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivity.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/ActivityDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/definition/ActivityDef.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/DeleteActivityInstanceRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/actvityinstancebuilder/FormInstanceCreator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ActivityInstanceUtil.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5771-nested-activity-can-delete-first-instance.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/DeleteActivityInstanceRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/ActivityInstanceUtilTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityBaseSettings.java
Labels: C-feature

#696 DDP-5838 should check hidden nested activities in PUT route
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteStandaloneTest.java
Labels: C-bug

#701 DDP-5938 prion: fix syntax error in password reset email
  study-builder/tenants/prion/passwordResetEmail.html
  study-builder/tenants/prion/tenant.yaml
Labels: C-bug, C-study, D-hotfix

#702 DDP-5938 prion: fix syntax issue in password reset page
  study-builder/tenants/prion/passwordResetPage.html
  study-builder/tenants/prion/tenant.yaml
Labels: C-bug, C-study, D-hotfix

#704 DDP-5939 remove unused dsm batch kits endpoint
  pepper-apis/src/main/java/org/broadinstitute/ddp/client/DsmClient.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/client/DsmClientTest.java
Labels: C-enhancement

#700 Better handling of config loading when using CLI tools
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/log/SlackAppender.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/security/AesUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/ConfigManager.java
Labels: C-enhancement

#705 Fix tests that occasionally fail in CircleCI
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/ValidationDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendEmailRouteTest.java
Labels: C-enhancement

#707 Better handling of localhost urls in auth0 tenant config files
  study-builder/tenants/cmi/tenant.yaml
  study-builder/tenants/prion/tenant.yaml
  study-builder/tenants/rgp/tenant.yaml
  study-builder/tenants/testboston/tenant.yaml
Labels: C-enhancement

#691 DDP-5588 rgp: embedded nested activities for family members
  study-builder/studies/rgp/child.conf
  study-builder/studies/rgp/enrollment-questions.conf
  study-builder/studies/rgp/enrollment.conf
  study-builder/studies/rgp/father.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
  study-builder/studies/rgp/mother.conf
  study-builder/studies/rgp/prequal.conf
  study-builder/studies/rgp/relative.conf
  study-builder/studies/rgp/sibling.conf
  study-builder/studies/rgp/study.conf
  study-builder/studies/rgp/substitutions.conf
Labels: C-study

#709 Fix initialzing cache when config file is not passed
  pepper-apis/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
Labels: C-enhancement

#710 DDP-5588 rgp: add unsure option for sibling/child/relative can_participate question
  study-builder/studies/rgp/enrollment-questions.conf
  study-builder/studies/rgp/snippets/rgp-can-participate-unsure-required.conf
Labels: C-study

#724 rgp: enable phone question confirm
  study-builder/studies/rgp/enrollment-questions.conf
Labels: C-study

#730 DDP-6020 add `/error` to allowed logout urls for various tenants
  study-builder/config/cmi-config.json.ctmpl
  study-builder/config/prion-config.json.ctmpl
  study-builder/config/rgp-config.json.ctmpl
  study-builder/tenants/cmi/tenant.yaml
  study-builder/tenants/prion/tenant.yaml
  study-builder/tenants/rgp/tenant.yaml
Labels: C-study

#713 RGP: Remove spanish from supported languages list
  study-builder/studies/rgp/study.conf
  study-builder/tenants/rgp/pages/login.html
Labels: C-study

#732 DDP-6024 fix bug related to computing `canDelete`
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
Labels: C-bug
