Repository broadinstitute/ddp-study-server, pull requests merged in 2021-06, with the labels that each got.

#785 DDP-4925 replace app-engine-dispatch with load-balancer
  .circleci/config.yml
  scripts/load-balancer/add-study-to-lb.sh
  scripts/load-balancer/http-lb.tmpl.yaml
  scripts/load-balancer/init-lb.sh
Labels: C-breaking, C-enhancement, D-downtime, R-high

#792 Update DSS API OpenAPI tooling
  pepper-apis/docs/specification/build.sh
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
Labels: C-docs, C-enhancement

#793 Change the bundled spec's extension to yaml
  pepper-apis/docs/specification/package.json
Labels: C-bug, C-docs

#791 DDP-6295 ES: update participant_structured index template
  elasticsearch/templates/participants_structured.json
Labels: C-enhancement, I-elasticsearch

#789 DSS API specification cleanup & update
  pepper-apis/docs/specification/package-lock.json
  pepper-apis/docs/specification/package.json
  pepper-apis/docs/specification/src/components/responses.yml
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/autocomplete.institution.yml
  pepper-apis/docs/specification/src/endpoints/join.mailing.list.yml
  pepper-apis/docs/specification/src/endpoints/user.email.yml
  pepper-apis/docs/specification/src/endpoints/user.password.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.address.default.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.address.temp.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.address.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.addresses.verify.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.addresses.yml
  pepper-apis/docs/specification/src/endpoints/user.profile.yml
  pepper-apis/docs/specification/src/endpoints/user.studies.medical-provider.yml
  pepper-apis/docs/specification/src/endpoints/user.studies.medical-providers.yml
  pepper-apis/docs/specification/src/endpoints/user.yml
  pepper-apis/docs/specification/src/pepper.yml
Labels: C-docs, C-enhancement

#796 DDP-5580: Remove COVID banner
  study-builder/tenants/rgp/pages/login.html
Labels: I-auth0

#790 Ddp 6239 rgp export family
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/export/CustomExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/housekeeping/schedule/CustomExportJob.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/customexport/model/CustomExportParticipant.java
Labels: C-feature, C-study, L-alerts, L-housekeeping

#802 DDP-5710 rgp: add dashboard summaries
  study-builder/studies/rgp/enrollment.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
Labels: C-study

#806 DDP-6351 rgp: add other option to title question
  study-builder/studies/rgp/enrollment-questions.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
Labels: C-study

#807 load-balancer: update scripts to handle already reserved IP
  scripts/load-balancer/add-study-to-lb.sh
  scripts/load-balancer/reserve-ip.sh
Labels: C-enhancement

#817 DDP-6392 demote log to warn in dsm auth filter
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/DsmAuthFilter.java
Labels: C-enhancement, L-alerts

#838 DDP-6474 new dsm task message when participant registered
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/DataExportDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/event/publish/pubsub/PubSubPublisherInitializer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/event/publish/pubsub/TaskPubSubPublisher.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminCreateStudyParticipantRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GovernedParticipantRegistrationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserRegistrationRoute.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/AdminCreateStudyParticipantRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetCancerSuggestionsRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetDsmDrugSuggestionsRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetParticipantInfoRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GovernedParticipantRegistrationRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ListCancersRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendEmailRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ServerInSameProcessIntegrationTestSuite.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteStandaloneTest.java
  study-builder/studies/rgp/study.conf
Labels: C-feature

#845 DDP-6501 support setting default auth0 connection
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudy.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiUmbrellaStudyCached.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/StudyDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/ExportUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/AdminLookupInvitationRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/PdfGenerationService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/Auth0Util.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/DataExporterCli.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-6501-study-default-auth0-connection.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/DataExportCoordinatorTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/OLCServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/StudyDataLoaderTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  study-builder/config/rgp-config.json.ctmpl
  study-builder/config/vars.conf.ctmpl
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/AngioConsentVersion2.java
  study-builder/studies/rgp/study.conf
  study-builder/studies/study-example.conf
Labels: C-feature, D-hotfix
