Repository broadinstitute/ddp-study-server, pull requests merged in 2021-03, with the labels that each got.

#654 DDP-5576 include canDelete in instance/summary API responses
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/constants/SqlConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/FormInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/activity/ActivityInstanceSummary.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
  pepper-apis/src/main/resources/sql.conf
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceSummaryRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PutFormAnswersRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserActivityInstanceListRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityInstanceServiceTest.java
Labels: C-docs, C-feature

#655 DDP-5575 delete activity instance API endpoint
  pepper-apis/docs/specification/src/endpoints/user.studies.activity.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/DataDonationPlatform.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/DeleteActivityInstanceRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/DeleteActivityInstanceRouteTest.java
Labels: C-docs, C-feature, I-auth-route, I-elasticsearch

#660 RGP: Make sure footer logo is a link to home page and open facebook l…
  study-builder/tenants/rgp/pages/login.html
Labels: C-bug, I-auth0

#658 DDP-5658 support revisioned templates
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nContentRenderer.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/FormInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/SectionBlockDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ComponentDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivity.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiActivityValidation.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiRevision.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/SectionBlockDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/TemplateDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ValidationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetActivityInstanceRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetUserAnnouncementsRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/InvitationCheckStatusRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PatchFormAnswersRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/PutFormAnswersRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityValidationService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/AddressService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/util/StatisticsUtil.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiActivityInstance.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/TemplateDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/content/I18nContentRendererTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/SectionBlockDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/QuestionDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/TemplateDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/ValidationDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/PatchFormAnswersRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityValidationServiceTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/AngioConsentVersion2.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainConsentVersion2.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainFixPrequalValidations.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainPediatricsUpdates.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/InsertActivityValidations.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateActivityTemplatesInPlace.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/UpdateTemplatesInPlace.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/ddp3934/InsertAngioPlaceholders.java
Labels: C-enhancement, R-high

#663 DDP-5605 basic support for exporting child activities
  elasticsearch/templates/activity_definition.json
  elasticsearch/templates/participants_structured.json
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/FormActivityDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityMetadataCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/json/structured/ActivityInstanceRecord.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ActivityResponse.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormResponse.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.sql.stg
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceSql.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/AnswerToAnswerCopierTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/AnswerToProfileCopierTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/collectors/ActivityResponseCollectorTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/PdfServiceTest.java
Labels: C-enhancement, I-elasticsearch

#671 DDP-5045 fix sendgrid events verification
  pepper-apis/src/main/java/org/broadinstitute/ddp/filter/SendGridEventVerificationFilter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/SendGridEventRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5045-sendgrid-event-message-id-nullable.xml
Labels: C-bug, D-release, R-security

#675 DDP-5605 fix export of empty row
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityMetadataCollector.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/collectors/ActivityMetadataCollectorTest.java
Labels: C-bug, D-release

#673 Modify study builder to load labeled Event Configurations
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEventConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dto/EventConfigurationDto.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/EventConfiguration.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5679-add-event-configuration-label.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/housekeeping/HousekeepingSendgridEmailNotificationTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/CreateInvitationEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/event/NotificationEventActionTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/EventServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/JoinMailingListRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendEmailRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/SendExitNotificationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/UserRegistrationRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/AgeUpServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/WorkflowServiceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
Labels: C-enhancement, C-feature, C-study, java

#677 RGP: Fixes for enrollment survey UI fixes
  study-builder/studies/rgp/enrollment.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
Labels: C-study

#681 DDP-5707 brain: fix copy event for Post Consent
  pepper-apis/src/main/java/org/broadinstitute/ddp/copy/CopyExecutor.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationDao.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/CopyExecutorTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/BrainRenameFixPostConsentCopy.java
  study-builder/studies/brain/patch-log.conf
  study-builder/studies/brain/patches/rename-gender-questions.conf
Labels: C-bug, C-study, D-release

#679 Modify Study Builder to recreate workflow from
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiWorkflowTransition.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/WorkflowDao.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilder.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/StudyPatcher.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/WorkflowBuilder.java
Labels: C-enhancement, C-study

#680 DDP-5681: Require email verification
  study-builder/tenants/force-email-verification.js
  study-builder/tenants/rgp/tenant.yaml
Labels: C-feature, C-study, I-auth0

#676 DDP-5587 support rendering answers into title/subtitle
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/activity/ActivityInstanceSummary.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ComponentBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ConditionalBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/ContentBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/FormInstance.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/GroupBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/NestedActivityBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/QuestionBlock.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/instance/question/PicklistQuestion.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetActivityInstanceSummaryRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/UserActivityInstanceListRoute.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/model/activity/instance/FormInstanceTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceSummaryRouteTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityInstanceServiceTest.java
Labels: C-feature

#685 DDP-5587 support rendering answers into description
  pepper-apis/src/main/java/org/broadinstitute/ddp/json/activity/ActivityInstanceSummary.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/ActivityInstanceService.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/service/ActivityInstanceServiceTest.java
Labels: C-feature

#684 Adds an Application flag to enable skipping Pepper registration [DDP-5719]
  study-builder/tenants/register-user-in-pepper.js
Labels: C-enhancement, I-auth0
