Repository broadinstitute/ddp-study-server, pull requests merged in 2021-01, with the labels that each got.

#577 DDP-5484 fix caching of picklist question options
  .circleci/config.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/cache/CacheService.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/PicklistQuestionCachedDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/QuestionDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/event/HousekeepingTaskReceiver.java
Labels: C-bug, C-feature, D-hotfix

#579 DDP-5500 testboston: add confirmed_contact question to adhoc_symptom
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonAddConfirmedContactQuestion.java
  study-builder/studies/testboston/adhoc-symptom.conf
  study-builder/studies/testboston/i18n/ar.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/fr.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/i18n/pt.conf
  study-builder/studies/testboston/i18n/ru.conf
  study-builder/studies/testboston/i18n/vi.conf
  study-builder/studies/testboston/i18n/zh.conf
  study-builder/studies/testboston/snippets/question-confirmed-contact.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#580 DDP-5497 testboston: add hospitalized questions to longitudinal v2
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonLongitudinalV2.java
  study-builder/studies/testboston/i18n/ar.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/fr.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/i18n/pt.conf
  study-builder/studies/testboston/i18n/ru.conf
  study-builder/studies/testboston/i18n/vi.conf
  study-builder/studies/testboston/i18n/zh.conf
  study-builder/studies/testboston/longitudinal-covid-v2.conf
  study-builder/studies/testboston/patch-log.conf
  study-builder/studies/testboston/snippets/question-hospital-days.conf
  study-builder/studies/testboston/snippets/question-hospital-name.conf
  study-builder/studies/testboston/snippets/question-hospitalized.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#584 DDP-5509 support filtering questions to copy from previous instance
  pepper-apis/src/main/java/org/broadinstitute/ddp/copy/CopyExecutor.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/CopyConfigurationSql.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/copy/CopyConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/copy/CopyPreviousInstanceFilter.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-5509-copy-previous-instance-filter.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/CopyConfigurationDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/copy/CopyExecutorTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/CopyConfigurationDaoTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/EventBuilder.java
  study-builder/studies/study-example.conf
Labels: C-feature, C-study

#582 DDP-5498 testboston: add vaccine questions to longitudinal v2
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonLongitudinalV2.java
  study-builder/studies/testboston/i18n/ar.conf
  study-builder/studies/testboston/i18n/en.conf
  study-builder/studies/testboston/i18n/es.conf
  study-builder/studies/testboston/i18n/fr.conf
  study-builder/studies/testboston/i18n/ht.conf
  study-builder/studies/testboston/i18n/pt.conf
  study-builder/studies/testboston/i18n/ru.conf
  study-builder/studies/testboston/i18n/vi.conf
  study-builder/studies/testboston/i18n/zh.conf
  study-builder/studies/testboston/longitudinal-covid-v2.conf
  study-builder/studies/testboston/patches/vaccine-copy-answer-event.conf
  study-builder/studies/testboston/snippets/question-vaccine-received-list.conf
  study-builder/studies/testboston/snippets/question-vaccine-received.conf
  study-builder/studies/testboston/snippets/question-vaccine-study-list.conf
  study-builder/studies/testboston/snippets/question-vaccine-study.conf
  study-builder/studies/testboston/subs.conf
Labels: C-study

#585 DDP-5505 support text question institution suggestion type
  pepper-apis/docs/specification/src/components/schemas.yml
  pepper-apis/docs/specification/src/endpoints/autocomplete.institution.yml
  pepper-apis/docs/specification/src/pepper.yml
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/activity/types/SuggestionType.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/GetInstitutionSuggestionsRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/seed/DDP-5505-text-question-institution-suggestion-type.xml
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/GetInstitutionSuggestionsRouteTest.java
  study-builder/studies/testboston/snippets/question-hospital-name.conf
Labels: C-breaking, C-study

#589 DDP-5498 testboston: fix display order of vaccine questions
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonLongitudinalV2.java
Labels: C-study

#593 DDP-5534 PEX support for composite child questions + testboston hospital question changes
  pepper-apis/src/main/antlr4/org/broadinstitute/ddp/pex/lang/Pex.g4
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/pex/TreeWalkInterpreter.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/AnswerDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/pex/TreeWalkInterpreterTest.java
  study-builder/src/main/java/org/broadinstitute/ddp/studybuilder/task/TestBostonLongitudinalV2.java
  study-builder/studies/testboston/longitudinal-covid-v2.conf
Labels: C-feature, C-study, D-release

#594 DDP-5472 csv export: include multiple instances and attributes
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/I18nTemplateConstants.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/content/RenderValueProvider.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/ActivityExtract.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExportCoordinator.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/DataExporter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityAttributesCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/export/collectors/ActivityMetadataCollector.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/ActivityInstanceCreationEventAction.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/export/DataExporterTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/ReceiveDsmNotificationRouteTest.java
Labels: C-breaking

#595 Ddp 5094 auth
  study-builder/config/manifest-tenant.rb
  study-builder/config/rgp-config.json.ctmpl
  study-builder/tenants/rgp/emails/change_password.html
  study-builder/tenants/rgp/pages/login.html
  study-builder/tenants/rgp/tenant.yaml
Labels: C-study

#576 DDP-5114-gae-service-to-log: detect GAE service name from env var GAE…
  pepper-apis/parent-pom.xml
  pepper-apis/src/main/java/org/broadinstitute/ddp/environment/HostUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/environment/SystemUtil.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/log/SlackAppender.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/monitoring/StackdriverMetricsTracker.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/environment/HostUtilTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/log/SlackAppenderTest.java
Labels: help wanted

#607 DDP-5311 testboston: update next_kit email template
  study-builder/studies/testboston/emails/next_kit.en.html
  study-builder/studies/testboston/emails/next_kit2.tmpl.html
Labels: C-study

#606 Check for nulls when removing answers from cache
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/AnswerCachedDao.java
Labels: C-bug, D-release, java

#608 RGP: DDP-5206: Fixed enrollment questionnaire issue that prevented cr…
  study-builder/studies/rgp/enrollment.conf
  study-builder/studies/rgp/i18n/en.conf
  study-builder/studies/rgp/i18n/es.conf
Labels: C-study

#619 Prion: DDP-5511: Re-enabled non-English languages that were removed b…
  study-builder/studies/prion/study.conf
  study-builder/tenants/prion/loginPage.html
Labels: C-study, I-auth0
