Repository broadinstitute/ddp-study-server, pull requests merged in 2021-09, with the labels that each got.

#978 DDP-6780: Add apostrophe as a valid character
  study-builder/tenants/rarex/login.html
Labels: C-bug, I-auth0

#1000 Ddp 6920 fix recent db deadlocks
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/EventDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/JdbiEventConfigurationOccurrenceCounter.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/PicklistAnswerDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/model/event/EventConfiguration.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/service/EventService.java
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/EventDao.sql.stg
Labels: C-bug, C-enhancement, java

#1021 Ddp 6983 prevent activity instance creation deadlock
  pepper-apis/src/main/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.java
  pepper-apis/src/main/java/org/broadinstitute/ddp/route/CreateActivityInstanceRoute.java
  pepper-apis/src/main/resources/changelog-master.xml
  pepper-apis/src/main/resources/db-changes/schema/DDP-6983-activity-instance-creation-mutex-table.xml
  pepper-apis/src/main/resources/org/broadinstitute/ddp/db/dao/ActivityInstanceDao.sql.stg
  pepper-apis/src/test/java/org/broadinstitute/ddp/db/dao/ActivityInstanceDaoTest.java
  pepper-apis/src/test/java/org/broadinstitute/ddp/route/CreateActivityInstanceRouteTest.java
Labels: C-bug, C-enhancement, java

#1028 Add check to use temp user guid from user metadata
  study-builder/tenants/register-user-in-pepper.js
Labels: I-auth0
