Repository broadinstitute/ddp-study-server, pull requests merged in 2022-07, with the labels that each got.

#1900 Updates to /user registration endpoint [DDP-7931]
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/db/dao/UserDao.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/models/EmailAddress.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/models/Guid.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/requests/UserCreationPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/responses/UserCreationResponse.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/UserCreationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/ParticipantsCreateService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/participants/ParticipantsServiceError.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/studies/StudiesService.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/service/studies/StudiesServiceError.java
  pepper-apis/dss-database/src/main/resources/db-changes/tenant-migration.xml
Labels: java, dss

#1931 Fixes a bug where the management client secret was not inserted [DDP-8280]
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
Labels: C-bug, I-auth0, dss

#1922 DSM export upgrades - DDP-7581
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/export/ParticipantExcelGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/QuestionType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ColumnValue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/excel/ParticipantRecordData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ExcelParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/FilterExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/ModuleExportConfig.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TsvParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ActivityStatusValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/AmbulationValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/BooleanValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/CohortTagNameProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/PickListValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/TextValueProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/ValueProviderFactory.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListParams.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/DownloadParticipantListPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dss-database/src/main/resources/db-changes/schema/DDP-7581-add-export-permission
Labels: C-enhancement, L-alerts

#1977 Improve FON user registration payload validation [DDP-8334]
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/filter/TokenConverterFilter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/models/EmailAddress.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/json/users/requests/UserCreationPayload.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/route/UserCreationRoute.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/security/JWTConverter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/transformers/LocalDateAdapter.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/util/ValidatedJsonInputRoute.java
  pepper-apis/dss-core/src/main/resources/org/broadinstitute/ddp/db/dao/JdbiI18nTranslation.sql.stg
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/AuthFilterRouteTest.java
Labels: dss
