Repository broadinstitute/ddp-study-server, pull requests merged in 2023-10, with the labels that each got.

#2699 Elasticsearch container for automated DSM testing
  .circleci/main-config.yml
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrar.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/BSPDummyKitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/ClinicalKitDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ReferralSourceService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/gbf/GBFOrderFinder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/Patch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/CreateClinicalDummyKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ParticipantUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/handlers/util/InstitutionRequest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbAndElasticBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticContainerTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/TestHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestContainer.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/indexSettings.json
  pepper-apis/dsm-core/src/test/resources/elastic/lmsActivities.json
  pepper-apis/dsm-core/src/test/resources/elastic/lmsMappings.json
  pepper-apis/dsm-core/src/test/resources/elastic/lmsParticipant.json
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfile.json
  pepper-apis/dsm-core/src/test/resources/onchistory/patch.json
  pepper-apis/pom.xml
Labels: C-enhancement, java, dsm

#2517 [PEPPER-682][Bug] Remove Osteo2 onc history, medical records and kitshippingrequest entries when a ptpt is returned from Osteo.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/ClinicalOrder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/StudyPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DdpInstanceIdPostFilterStrategy.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DsmDdpInstanceIdPostFilter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/ActivityAndDdpIdPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/DdpInstanceIdPostFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/postfilter/osteo/OldOsteoPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/StudyPostFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/filter/prefilter/osteo/DsmDdpInstanceIdPostFilterTest.java
Labels: C-bug, dsm

#2673 [DSM] PEPPER-833 RGP BLOOD & RNA kit name
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitTypeImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/KitTypeDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitSubKits.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/KitRequestShippingMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/QueryExtension.java
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/PEPPER-833_rgp_kit_display_name.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DDPRequestRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitDisplayNameTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitRequestShippingTest.java
Labels: C-feature, C-breaking, C-enhancement, java, dsm

#2715 [DSM] fix for kits query
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
Labels: C-bug, C-breaking, dsm

#2718 [DSM] PEPPER-1193 fixed grammar error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitInitialScanUseCase.java
Labels: C-enhancement, java, dsm
