Repository broadinstitute/ddp-study-server, pull requests merged in 2023-04, with the labels that each got.

#2495 [DSM] PEPPER-676 Fix for Final Scan Error
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/BaseKitUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/ScanError.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitBaseUseCaseTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitFinalScanUseCaseIntegrationTest.java
  pepper-apis/dsm-core/src/test/integration/org/broadinstitute/dsm/model/kit/KitReceivedUseCaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitScanErrorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
Labels: C-bug, dsm

#2503 [DSM] PEPPER-639 PDF Download for Angio legacy participant
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/DownloadPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
Labels: C-bug, dsm

#2512 Use correct date format for export: PEPPER-586.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/renderer/DateValueProvider.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParserTest.java
Labels: C-bug, dsm

#2519 [DSM] PEPPER-139
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryEligibleSamplesRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/mercury/GetMercuryOrdersRoute.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-139_view_seq_order_status.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: dsm

#2527 [DSM] PEPPER-745 GP Patch Access and some PatchRoute cleaning
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
Labels: C-feature, I-nonauth-route, dsm
