Repository broadinstitute/ddp-study-server, pull requests merged in 2023-08, with the labels that each got.

#2639 Finish role display text implementation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-972_access_role_display_update.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Labels: C-feature, java, dsm

#2641 Remove obsolete DSM user create code from AuthenticationRoute
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/AuthenticationRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitDiscardRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
Labels: C-enhancement, java, dsm

#2643 Include operator identifier in user admin operations logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UpdateUserRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Labels: C-enhancement, java, dsm

#2644 Handle user roles that are not study roles
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Labels: C-bug, java, dsm

#2640 DB connection and transaction processing improvements
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/exception/DDPInternalError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/TransactionWrapperTest.java
  pepper-apis/parent-pom.xml
  pepper-apis/pom.xml
Labels: C-bug, java, dsm

#2636 [DSM] PEPPER-853 sm id fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercurySampleDao.java
Labels: good first issue, C-bug, C-feature, dsm

#2645 DSM user admin error message fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
Labels: C-enhancement, java, dsm

#2657 Update participant data via UPDATE_CUSTOM_WORFLOW
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/ESMissingParticipantDataException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/Study.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/ATDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/DefaultableMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/NewOsteoDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/SingularDefaultValues.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/data/ParticipantRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/StudyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/StudyBuilderCli.java
  pepper-apis/studybuilder-cli/studies/rgp/study.conf
Labels: C-enhancement, java, dss, dsm, study-builder

#2647 [DSM] Juniper's kitStatus endpoint PEPPER-841
  .circleci/main-config.yml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitStatusDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/user/UserDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/nonPepperKit/NonPepperKitStatusDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DsmInternalError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperStatusKitService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/juniper/StatusKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RequestParameter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/resources/application.conf
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/NonPepperKitServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/kit/KitDaoMock.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/tools/CreateLabelTool.java
  pepper-apis/parent-pom.xml
Labels: C-feature, java, dsm

#2653 [DSM] PEPPER-980
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
Labels: C-feature, java, dsm

#2663 Fix exception handling in OncHistoryTemplateRoute
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryTemplateRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryTemplateService.java
Labels: C-bug, java, dsm

#2665 Fix ES version conflict handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Labels: C-bug, java, dsm

#2659 PEPPER-977 [DSM] check jwt to make sure expiration claim is present
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Labels: C-bug, R-security, I-auth-route, java, dsm

#2666 Better patch route error detection and reporting
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/PatchRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/RouteUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
Labels: C-enhancement, java, dsm

#2654 [DSM] PEPPER-1023 Juniper authentication
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ApplicationConfigConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/security/SecurityHelper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/JWTRouteFilterTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/MercuryEndpointTests.java
Labels: C-feature, C-enhancement, I-auth-route, I-nonauth-route, java, dsm

#2664 Add user admin test utility
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/UserSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/UserAdminService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
Labels: C-enhancement, java, dsm
