Repository broadinstitute/ddp-study-server, pull requests merged in 2023-06, with the labels that each got.

#2554 [DSM] PEPPER-754/PEPPER-840 Juniper Kit classes, unit test and shipKit endpoint
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/instance/DDPInstanceDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/instance/DDPInstanceDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitType.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalScanUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/kit/KitFinalSentBaseUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/JuniperKitStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/KitResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/ShipKitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/JuniperShipKitRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/JWTRouteFilter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationTest.java
Labels: C-feature, C-enhancement, dsm

#2573 [DSM] PEPPER-837 new access roles
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-837_pecgs_phase4_permissions.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: I-auth-filter, dsm

#2581 pepper-68 basic implementation
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/FieldSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/participant/ParticipantDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/util/DaoUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/util/ResultsBuilder.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/onchistory/OncHistoryDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DSMBadRequestException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/DsmInternalError.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryHeadersProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorResponse.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadColumn.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryValidationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/StudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/SystemUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/lddp/db/SimpleResult.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryParserTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/files/parser/onchistory/OncHistoryTestParser.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/MockElasticExporter.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryExtraCols.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryMissingCols.txt
Labels: C-feature, I-elasticsearch, java, dsm

#2578 [PEPPER-811, PEPPER-813, PEPPER-885] Initial implementation of somatic file upload.
  elasticsearch/templates/participants_structured.json
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/constants/ConfigFile.java
  pepper-apis/dsm-core/pom.xml
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/PropertyInfo.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/SomaticResultMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultMetaData.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettings.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/AntivirusScanningStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/ESObjectConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-811_somatic_documents.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/somatic/result/SomaticResultUploadSettingsTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/SomaticResultUploadServiceTest.java
Labels: C-feature, R-security, L-route-audit, L-alerts, I-auth-route, I-elasticsearch, java, dsm

#2586 [PEPPER-811]Complete the rename of somaticResultUploads -> somaticResultUpload.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapperDto.java
Labels: C-bug

#2589 Liquibase changes for pepper-68 and pepper-900
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-68_location_px.xml
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-900_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: C-feature, dsm

#2590 [PEPPER-903] Initial implementation of follow-up survey.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SomaticResultUpload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SurveyTrigger.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/exception/AuthorizationException.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/SomaticResultTriggerActivityPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/TriggerSomaticResultSurveyRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/DeleteSomaticResultRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/RoutePath.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPRequestUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-903_sent_date.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: C-feature, C-enhancement, R-security, L-route-audit, I-nonauth-route

#2588 Follow-up for pepper-68
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/institution/DDPInstitutionDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/medical/records/MedicalRecordDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/files/parser/AbstractRecordsParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/GeneratorPayload.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/CodeStudyColumnsProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryElasticUpdater.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadServiceTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/lmsOncHistory.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryBadValue.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
Labels: C-feature, java, dsm

#2592 [PEPPER-811] It's cmi-lms not lms
  pepper-apis/config/testing-inmemorydb.conf.ctmpl
Labels: C-bug

#2594 [PEPPER-811] Do not set the content-type in the header.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Labels: C-bug

#2596 [PEPPER-811] Set the response status code to 400 based on payload
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/PostSomaticResultUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Labels: C-enhancement

#2597 [PEPPER-811] Adds the ability to get a single document's information.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/somaticresults/GetSomaticResultsRoute.java
Labels: C-enhancement

#2585 [DSM] PEPPER-883
  .gitignore
  cloud-functions/cf-dsm-file-scanner/.gcloudignore
  cloud-functions/cf-dsm-file-scanner/.gitignore
  cloud-functions/cf-dsm-file-scanner/Dockerfile
  cloud-functions/cf-dsm-file-scanner/checkstyle.xml
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/create_topic_and_sub.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/init-bucket-event.sh
  cloud-functions/cf-dsm-file-scanner/pom.xml
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/clamav/Client.java
  cloud-functions/cf-dsm-file-scanner/src/main/resources/container/clamd.conf
  cloud-functions/cf-dsm-file-scanner/src/main/resources/container/entrypoint.sh
  cloud-functions/cf-dsm-file-scanner/src/main/resources/container/freshclam.conf
Labels: dependencies, C-feature, java

#2599 Pepper-68 bug fixes
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryUploadService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
Labels: C-bug, java, dsm

#2600 [DSM] PEPPER-910 CORS config
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cors-config.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/dsm-setup.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/update-download-service-account.sh
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/upload_json_dev.json
Labels: dsm

#2602 pepper-68, pepper-915
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/OncHistoryUploadRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ColumnValidator.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-915_field_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/onchistory/ColumnValidatorTest.java
  pepper-apis/dsm-core/src/test/resources/onchistory/lmsOncHistory.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryBadValue.txt
  pepper-apis/dsm-core/src/test/resources/onchistory/oncHistoryDetail.txt
Labels: C-bug, java, dsm

#2571 [DSM] PEPPER-873
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderPublisher.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-873_mercury_order_fields.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/mercury/ComparisonTest.java
Labels: C-bug, C-feature, dsm

#2605 [DSM] PEPPER-918 script to make test data
  pepper-apis/scripts/dsm/tests/.gitignore
  pepper-apis/scripts/dsm/tests/pecgs-phase4-participant.sh
Labels: dsm

#2606 Added force refresh on elastic update
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
Labels: C-bug, java, dsm

#2607 Limiting IMMEDIATE refresh to only onc history upload
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/ElasticDataExportAdapter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/OncHistoryElasticUpdater.java
Labels: C-bug, java, dsm

#2614 [DSM] fix for RC
  cloud-functions/cf-dsm-file-scanner/dsm-gcp-setup/cf-deploy.sh
  cloud-functions/cf-dsm-file-scanner/src/main/java/org/broadinstitute/ddp/cf/DSMSomaticFileScanner.java
Labels: dsm

#2615 [PEPPER-941] Handle the case where no description is provided.
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/DataDictionaryExporter.java
Labels: C-bug
