Repository broadinstitute/ddp-study-server, pull requests merged in 2023-09, with the labels that each got.

#2668 Resurface TokenExpiredException
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/security/Auth0Util.java
Labels: C-enhancement, java, dsm

#2670 Add retrying to UPDATE_CUSTOM_WORKFLOW handling
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
Labels: C-enhancement, java, dsm

#2675 Set destruction policy for all medical records in study
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/MedicalRecord.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/onchistory/OncHistoryDetailDaoImpl.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/ddp/participant/ParticipantDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/generate/TissueSourceGenerator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/patch/OncHistoryDetailPatch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/InstitutionRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/RouteUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/StudyRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoleRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/admin/UserRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/MedicalRecordUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/UserUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/route/RouteUtilTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Labels: C-bug, java, dsm

#2677 [DSM] PEPPER-1058
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitCurrentStatus.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitStatusDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/kit/nonPepperKit/NonPepperKitStatusDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/LabelCreationJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/nonpepperkit/NonPepperKitCreationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/EasyPostUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/main/resources/liquibase/order_transmitted_at_column_ddp_kit_request.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/AuthenticationTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/RouteTestSample.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/admin/UserAdminTestUtil.java
Labels: C-feature, C-enhancement, java, dsm

#2678 [DSM] PEPPER-1057 Our Health Setup
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/DSMServer.java
  pepper-apis/dsm-core/src/main/resources/liquibase/juniper-ourheart/PEPPER-1057-our_heart_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperSetupUtil.java
Labels: C-study, java, dsm

#2680 Log DataSyncJob exceptions and stop throwing JobExecutionException
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
Labels: C-enhancement, L-housekeeping, java

#2682 Add more logging
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/DataSyncJob.java
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/housekeeping/schedule/StudyDataExportJob.java
Labels: C-bug, L-housekeeping, java

#2681 Convert more erroneous longs to ints
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/SmId.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/Tissue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/TissueList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/participant/ParticipantWrapper.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
Labels: C-bug, java, dsm

#2684 [DSM] PEPPER-1079 Neale lab's Eating Disorders study setup
  pepper-apis/dsm-core/src/main/resources/liquibase/neale-lab/PEPPER-1079_neale_lab_eating_disorders_setup.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: C-feature, C-study, dsm

#2674 [DSM] PEPPER-1123 Mercury error fix
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/mercury/MercuryOrderDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/mercury/MercuryOrderUseCase.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/MercuryOrderStatusListener.java
Labels: C-bug, C-enhancement, dsm

#2688 Add elastic search update for destruction policy change
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/painless/UpsertPainless.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/OncHistoryDetailTest.java
Labels: C-enhancement, java, dsm

#2692 Use medicalRecord as source for ddpInstanceId
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Labels: C-bug, java, dsm

#2694 Check for null OncHistoryDetail before updating
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/OncHistoryDetail.java
Labels: C-bug, java, dsm
