Repository broadinstitute/ddp-study-server, pull requests merged in 2023-05, with the labels that each got.

#2530 [PEPPER-483] Update LMS Germline Consent Invitation Emails
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-invitation.html
  pepper-apis/studybuilder-cli/studies/lms/emails/germline-consent-addendum-pediatric-invitation.html
Labels: C-study, study-builder

#2533 Pepper 575
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dto/settings/FieldSettingsDto.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/bookmark/Bookmark.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/ddp/DDPActivityConstants.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/BasicDefaultDataMaker.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/resources/liquibase/rgp/PEPPER-575_REF_SOURCE.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/bookmark/BookmarkTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreatorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/sort/MockFieldSettingsDao.java
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsBadDetails.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsBadValues.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsDetails.json
  pepper-apis/dsm-core/src/test/resources/RefSourceFieldSettingsValues.json
  pepper-apis/dsm-core/src/test/resources/activities.json
  pepper-apis/pom.xml
Labels: C-feature, L-alerts, java, dsm

#2536 [PEPPER-468] Updates parent or parent(s) to parent(s)/guardian(s) for somatic assent.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/OsteoSomaticAssentV3.java
  pepper-apis/studybuilder-cli/studies/osteo/patch-log.conf
  pepper-apis/studybuilder-cli/studies/osteo/patches/somatic-assent-v3-updates-pepper-468.conf
Labels: C-study

#2535 Pepper 764
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/db/TransactionWrapper.java
Labels: C-bug, java, dsm

#2541 Pepper 419 Pediatric Consent Form and SimpleActivityRevisionTask
  pepper-apis/studybuilder-cli/README.md
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SimpleActivityRevisionTask.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-version-3-changes.conf
Labels: C-study

#2545 [DSS] CMI: Update OS Email Invite to Sign Germline Consent
  pepper-apis/studybuilder-cli/studies/osteo/emails/parental-somatic-germline-addendum-required.html
  pepper-apis/studybuilder-cli/studies/osteo/emails/self-somatic-germline-addendum-required.html
Labels: C-study, study-builder

#2550 PEPPER-440 OS Pediatric Consent
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SimpleActivityRevisionTask.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SimplePdfRevisionTask.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/SimpleRevisionTask.java
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-consent-parental-v3.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_parental_v3.pdf
Labels: C-enhancement, C-study

#2551 [PEPPER-480, PEPPER-482] Medical Record Pdf template updates.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-v3-medicalrecords-pdfs.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_agreement_v3.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_contact_v3.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_agreement_v3.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_contact_v3.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_parental_physician_v3.pdf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/release_physician_v3.pdf
Labels: C-study

#2553 [PEPPER-452] Updates to latest Assent template.
  pepper-apis/studybuilder-cli/src/main/java/org/broadinstitute/ddp/studybuilder/task/rootpatches/Osteo2pecgsUpdates.java
  pepper-apis/studybuilder-cli/studies/osteo/patches/osteo-consent-assent-pdf-v3.conf
  pepper-apis/studybuilder-cli/studies/osteo/pdfs/consent_assent_v3.pdf
Labels: C-study

#2559 [PEPPER-804] Alternate approach.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/GetActivityInstanceRouteStandaloneTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/TestDataSetupUtil.java
Labels: C-bug, C-enhancement

#2565 [PEPPER-823] Fix local DSS tests so they pass when all tests are run together locally.
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/filter/AllowlistFilterTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
Labels: C-enhancement

#2566 [PEPPER-864] Update plus code for test
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/MailAddressRouteTest.java
Labels: C-bug, java, dss

#2567 Fix auth0BackoffTime logic and test
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/client/Auth0ManagementClient.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/client/Auth0ManagementClientTest.java
Labels: C-bug, java

#2563 Pepper-802: Provide a Docker based DSM DB
  .circleci/main-config.yml
  pepper-apis/ddp-common/pom.xml
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/DatabaseTestUtil.java
  pepper-apis/ddp-common/src/main/java/org/broadinstitute/ddp/util/LiquibaseUtil.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/defaultvalues/RgpAutomaticProbandDataCreator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/WorkflowStatusUpdate.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/statics/DBConstants.java
  pepper-apis/dsm-core/src/main/resources/liquibase/PEPPER-802-ddp_instance.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/DbTxnBaseTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/settings/FieldSettingsDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/pubsub/UpdateWorkflowStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/route/familymember/AddFamilyMemberRouteTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DBTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/DSMDbTestContainer.java
  pepper-apis/dsm-core/src/test/resources/testdbs/testdbsetup.cnf
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/HousekeepingTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/TxnAwareBaseTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/PooledPasswordRotationTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/db/TransactionWrapperTest.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/route/IntegrationTestSuite.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/DBTestContainer.java
  pepper-apis/dss-core/src/test/java/org/broadinstitute/ddp/util/MySqlTestContainerUtil.java
  pepper-apis/parent-pom.xml
Labels: C-enhancement, java, dsm

#2570 [PEPPER-870] When running with the emulator, build the required topic/subscription.
  pepper-apis/dss-core/src/main/java/org/broadinstitute/ddp/Housekeeping.java
Labels: C-enhancement
