Repository broadinstitute/ddp-study-server, pull requests merged in 2024-04, with the labels that each got.

#2841 [PEPPER-1353] Add temporary logging for missing ES data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/pubsub/DSMtasksSubscription.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participantdata/RgpParticipantDataService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/OsteoMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/ElasticSearchServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
Labels: C-enhancement, java, dsm

#2844 [PEPPER-1335] Filter instances in MedicalRecordInstanceProvider
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/medicalrecord/MedicalRecordInstanceProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/ParticipantService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/DDPMedicalRecordDataRequest.java
Labels: C-bug, java, dsm

#2845 [PEPPER-1267] Fix search scrolling in getLegacyPidsByGuid
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/ParticipantDataFixupService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
Labels: C-bug, java, dsm

#2849 PEPPER-1419 Checkstyle file fix
  pepper-apis/checkstyle.xml
Labels: C-docs, C-enhancement

#2843 [PEPPER-1141] Fixing SampleQueue missing in the download
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/at/SampleQueue.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShipping.json
  pepper-apis/dsm-core/src/test/resources/elastic/filterWithSampleQueueColumn.json
  pepper-apis/dsm-core/src/test/resources/elastic/participantProfileTemplate.json
Labels: C-bug, C-enhancement, java, dsm

#2853 [PEPPER-1427] Remove unused 'KitDiscard.file' field
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitDiscard.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/KitDiscardTest.java
Labels: C-bug, java, dsm

#2851 [DSM] PEPPER-1244
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantExporter.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/export/tabular/TabularParticipantParser.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/sort/Alias.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/DownloadParticipantListRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/download/DownloadParticipantListService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/download/DownloadParticipantListServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/ElasticTestUtil.java
  pepper-apis/dsm-core/src/test/resources/elastic/dsmKitRequestShippingClinicalOrders.json
  pepper-apis/dsm-core/src/test/resources/elastic/filtersWithClinicalOrderColumns.json
Labels: C-bug, dsm

#2852 [PEPPER-729] Create OS2 cohort tag for re-consent with no OS1 participant data
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/Dsm.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/participant/OsteoParticipantService.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/participant/OsteoParticipantServiceTest.java
Labels: C-bug, java, dsm

#2855 [PEPPER-1083] Fix AND/OR token identification
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/filter/AndOrFilterSeparator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/dashboard/CountAdditionalFilterStrategyTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/filter/splitter/AndOrFilterSeparatorTest.java
Labels: C-bug, java, dsm
