Repository broadinstitute/ddp-study-server, pull requests merged in 2024-05, with the labels that each got.

#2864 [DSM] PEPPER-807 instance settings
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/MRCoverPDF.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/pdf/TissueCoverPDF.java
  pepper-apis/dsm-core/src/main/resources/liquibase/CMI/PEPPER-807_dicom_instance_settings.xml
  pepper-apis/dsm-core/src/main/resources/master-changelog.xml
Labels: good first issue, C-enhancement, dsm

#2865 [PEPPER-1441] Add SomaticResultUploadService logging
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/SomaticResultUploadService.java
Labels: C-enhancement, java, dsm

#2868 [PEPPER-1267] Merge export legacy entity records
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigrator.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/migration/BaseSingleMigrator.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseCollectionMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/BaseMigratorTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/model/elastic/migration/MockCollectionMigrator.java
Labels: C-bug, java, dsm

#2862 [DSM] PEPPER-1439 Label Creation Job improvement
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/jobs/LabelCreationJob.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/route/KitExpressRoute.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/KitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperKitCreationStatusTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/juniperkits/JuniperTestSetupUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/shipping/LabelCreationJobTest.java
Labels: C-enhancement, dsm

#2869 [DSM] PEPPER-1422 Admin Operation to Resample
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrar.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/cf/Covid19OrderRegistrarFunction.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/DDPInstance.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/KitRequestShipping.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/ddp/kitrequest/KitRequestDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/db/dao/kit/KitDao.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/KitRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/model/elastic/search/ElasticSearch.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/admin/AdminOperationService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/LegacyKitUpdateCollabIdList.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdsRequest.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/elastic/ElasticSearchService.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/service/onchistory/ESParticipantIdProvider.java
  pepper-apis/dsm-core/src/main/java/org/broadinstitute/dsm/util/ElasticSearchUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/ElasticSearchTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/careevolve/Covid19OrderRegistrarTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/KitDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/db/dao/mercury/ClinicalOrderDaoTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/KitDisplayNameTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/kits/TestKitUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdServiceTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/service/adminoperation/UpdateKitToLegacyIdsRequestTest.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/KitShippingTestUtil.java
  pepper-apis/dsm-core/src/test/java/org/broadinstitute/dsm/util/TestParticipantUtil.java
Labels: C-feature, C-enhancement, java, dsm
